html {
    padding: 5px;
}

.div-inline {
    display: inline-block;
    vertical-align: middle;
    float: inside;
}

.position-width20 {
    position: static;
    width: 20%;
}

.li-color-position {
    position: inherit;
    margin: 5px;
    background-color: #ececec;
}

.s-text {
    text-decoration: line-through;
}

.i-text {
    font-style: italic;
}

.div-list {
    width: 70%;
    text-align: left;
}

.div-status {
    width: 20%;
    text-align: right;
}

.background-e5 {
    background-color: #E5E5E5;
}

.width60 {
    width: 60%;
}

.width10 {
    width: 10%;
}

.width230px {
    width: 230px;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.margin-b2px {
    margin-bottom: 2px;
}

.margin-left40 {
    margin-left: 40%;
}